-Dhttps.proxyHost=${env.HTTPS_PROXY_HOST}
-Dhttps.proxyPort=${env.HTTPS_PROXY_PORT}
-Dhttps.proxyUser=${env.HTTPS_PROXY_USER}
-Dhttps.proxyPassword=${env.HTTPS_PROXY_PASSWORD}
-Dhttp.proxyHost=${env.HTTP_PROXY_HOST}
-Dhttp.proxyPort=${env.HTTP_PROXY_PORT}
-Dhttp.proxyUser=${env.HTTP_PROXY_USER}
-Dhttp.proxyPassword=${env.HTTP_PROXY_PASSWORD}
